<header>
    <nav>
    <ul>My Fashion Site</a></strong></li>
    </ul>
    <ul>
        <li><a href="/generators">Generators</a></li>
        <li><a href="/references">References</a></li>

    </ul>
    </nav>
</header>
