<!doctype html>
<html lang="en"  data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ meta_title if meta_title else title }} | {{ site.name }}</title>


    <meta name="description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
    <meta name="robots" content="{{ robots if robots else 'index,follow' }}" />

    <link rel="stylesheet" href="/assets/styles/main.css" />
    
    <!-- Pico CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
        >

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    
</head>


<body class="container">
    {% include "components/header.njk" %}
    <main>
        {# include header #}
        

        {# include content #}
        {{ content | safe }}

        {# include footer #}
       
    </main>
     {% include "components/footer.njk" %}
</body>
</html>
